.KiUi-DateInput {
  height: 2em;
  border-radius: .5em;
  padding: 0 1em;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: 1px solid var(--kiui-grey-300);
}

.KiUi-DateInput:hover {
  border: 1px solid var(--kiui-grey-500);
}

.KiUi-DateInput:focus {
  /* animation: appear 0.3s; */
  border: 1px solid var(--kiui-lightblue-500);
  /* box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.6); */
}

.KiUi-DateInput[disabled] {
  cursor: not-allowed;
}
