.JF-ButtonInput {
  height: 32px;
  background: #004261;
  color: white;
  border-radius: 8px;
  padding: 2px 12px;
  outline: none;
  outline-offset: unset;
  border: none;
  cursor: pointer;
}

.JF-ButtonInput:hover {
  box-shadow: 0px 0px 4px 0px #737373;
}

.JF-ButtonInput::selection {
  color: #fff;
  background: #558fa3;
}
