:root {
    --kiui-black: #000;
    --kiui-white: #fff;
    --kiui-grey-50: #fafafa;
    --kiui-grey-100: #f5f5f5;
    --kiui-grey-300: #e0e0e0;
    --kiui-grey-500: #9e9e9e;
    --kiui-grey-700: #616161;
    --kiui-grey-900: #212121;
    --kiui-red-50: #ffebee;
    --kiui-red-100: #ffcdd2;
    --kiui-red-300: #e57373;
    --kiui-red-500: #f44336;
    --kiui-red-700: #d32f2f;
    --kiui-red-900: #b71c1c;
    --kiui-lightblue-50: #e3f2fd;
    --kiui-lightblue-100: #bbdefb;
    --kiui-lightblue-300: #64b5f6;
    --kiui-lightblue-500: #03a9f4;
    --kiui-lightblue-700: #1976d2;
    --kiui-lightblue-900: #0d47a1;
    --kiui-blue-50: #e3f2fd;
    --kiui-blue-100: #bbdefb;
    --kiui-blue-300: #64b5f6;
    --kiui-blue-500: #2196f3;
    --kiui-blue-700: #1976d2;
    --kiui-blue-900: #0d47a1;
    --kiui-green-50: #e8f5e9;
    --kiui-green-100: #c8e6c9;
    --kiui-green-300: #81c784;
    --kiui-green-500: #4caf50;
    --kiui-green-700: #388e3c;
    --kiui-green-900: #1b5e20;
    --kiui-yellow-50: #fffde7;
    --kiui-yellow-100: #fff9c4;
    --kiui-yellow-300: #fff176;
    --kiui-yellow-500: #ffeb3b;
    --kiui-yellow-700: #fbc02d;
    --kiui-yellow-900: #f57f17;
    --kiui-indigo-50: #e8eaf6;
    --kiui-indigo-100: #c5cae9;
    --kiui-indigo-300: #7986cb;
    --kiui-indigo-500: #3f51b5;
    --kiui-indigo-700: #303f9f;
    --kiui-indigo-900: #1a237e;
    --kiui-orange-50: #fff3e0;
    --kiui-orange-100: #ffe0b2;
    --kiui-orange-300: #ffb74d;
    --kiui-orange-500: #ff9800;
    --kiui-orange-700: #f57c00;
    --kiui-orange-900: #e65100;
}