.KiUi-ButtonInput {
  height: 2em;
  border-radius: .5em;
  padding: 0 1em;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--kiui-grey-300);
}

.KiUi-ButtonInput:hover {
  border: 1px solid var(--kiui-grey-500);
}

.KiUi-ButtonInput:focus {
  animation: appear 0.3s;
  border: 1px solid var(--kiui-lightblue-500);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

.KiUi-ButtonInput[disabled] {
  cursor: not-allowed;
}
